.app-container{
    display: flex;
    flex-direction:column;
    width: 100%;
}

/* .app-container > :first-child{
    width: 200px;
  min-width: 200px;
  flex-shrink: 0;
  flex-grow: 0;
} */

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}