.genre-list{
    width:200px;
    min-width: 200px;
    flex-shrink: 0;
    padding:0;
    margin: 0;
}

.genre-list li {
  cursor: pointer;
  padding: 8px;
  transition: 0.2s;
  list-style: none;
}

.genre-list li:hover {
  background-color: #eee; /* hover effect */
}

.genre-list li.selected {
  background-color: #333;
  color: white; /* selected style */
}