body {
	margin: 0;
	padding: 0;
}

body,
#root {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	width: 100vw;
	padding: 50px 5vw;
}
